.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#computer-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#player-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.player-button {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.computer-button {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.rock {
    background-color: lightcoral;
}

.paper {
    background-color: lightblue;
}

.scissors {
    background-color: lightgreen;
}

.greyed {
    background-color: grey;
}

.results {
    text-align: center;
}